# Namepending manual config
# If you don't want to run the setup script you can use this file

# PostgreSQL
# Value of `openssl rand -hex 32`
POSTGRES_PASS=

# S3 Storage
# Value of `openssl rand -hex 32`
GARAGE_ACCESS_KEY=
GARAGE_SECRET_KEY=
GARAGE_PASS=

# Proxy
WEB_PORT=8778

# Web
NAME=namepending
URL=http://localhost:8080
APP_SECRET=

# Essential auth stuff
STEAM_API_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Don't change this
PUBLIC_URL=$URL
PUBLIC_NAME=$NAME
