# PostgreSQL
# Value of `openssl rand -hex 32`
POSTGRES_PASS=

# MinIO
MINIO_USER=minioadmin
# Value of `openssl rand -hex 32`
MINIO_PASS=

# Traefik
# Most of the stuff in here you don't really need, I don't recommend turning it on
TRAEFIK_DASHBOARD=false
TRAEFIK_DASHBOARD_PORT=8781
TRAEFIK_WEB_PORT=8778

# Web
URL=http://localhost:8080
APP_SECRET=