# PostgreSQL
# Value of `openssl rand -hex 32`
POSTGRES_PASSWORD=

# MinIO
MINIO_ROOT_USER=minioadmin
# Value of `openssl rand -hex 32`
MINIO_ROOT_PASSWORD=

# Traefik
# Most of the stuff in here you don't really need, I don't recommend turning it on
ENABLE_TRAEFIK_DASHBOARD=false

# Web
URL=http://localhost:8080