{
    servers {
        trusted_proxies static private_ranges
        trusted_proxies_strict
    }
}

:80 {

    reverse_proxy /* http://web:3000

    reverse_proxy /namepending-bucket/* http://storage:3900
}

s3.localhost:80 {
    reverse_proxy /* http://storage:3900
}
