{
    servers {
        trusted_proxies static 10.88.0.0/8 127.0.0.1/32 172.18.0.1/32
    }
}

:80 {

    reverse_proxy /* http://web:3000

    reverse_proxy /namepending-bucket/* http://storage:3900
}

s3.localhost:80 {
    reverse_proxy /* http://storage:3900
}
